@import "../../styles/variables";
.wrapper {
  width: 100%;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  .loader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .bar,
    .bar2,
    .bar3,
    .bar4 {
      width: 10px;
      height: 50px;
    }
    .bar,
    .bar3 {
      animation-name: load;
      animation-duration: 1000ms;
      animation-delay: 0;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      background-color: $gray;
    }
    .bar2,
    .bar4 {
      animation-name: load;
      animation-duration: 1000ms;
      animation-timing-function: ease-in-out;
      animation-delay: 500ms;
      animation-iteration-count: infinite;
      background-color: $yellow;
    }
  }
}
@keyframes load {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}
