$mainBgColor: #ffffff;
$secondaryBgColor: #e1e1e1;
$red: #e2283b;
$lightRed: #e74757;
$yellow: #fdbc00;
$gray: #6c757d;
$darkGray: #16003B;
$lightGray: #f6f6f8;
$hgh: #1be209;

$breakpoint-xlg: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
